<% #content_for :adminpanel do %>
<%= link_to 'Nieuwe subcategorie maken', new_category_path,  class: 'btn btn-success' %>
<%= link_to 'Een nieuwe activiteit aanmaken', new_event_path, class: 'btn btn-success' if current_user.try(:admin?) %>
<%= link_to 'Een nieuw bericht/bericht aanmaken', new_post_path,  class: 'btn btn-success' %>
<nav id="admin-tabs">
	<ul>
		<li><a href="#">link</a></li>
		<li><a href="#">link</a></li>
		<li><a href="#">link</a></li>
	</ul>
</nav>
<div class="table-responsive">
  <h2>Categoriën</h2>
  <table class="table table-striped">
    <tr><th>Menunaam</th><th>Url</th><th>Menu</th><th>Aangenaakt op</th><th>Aangepast op</th><th>verwijderen</th><th>bewerken</th></tr>
   
   
    <% @categories.each do |c| %>
      <tr><td><%= c.menuname %></td>
      <td><%= c.url %></td>
      <td><%= c.parent_id ? "submenu" : "hoofdmenu" %></td>
      <td><%= DTformat c.created_at %></td>
      <td><%= DTformat c.updated_at %></td>
      <td><%= link_to 'Destroy', c, :method => :delete, data: {confirm: "Wilt u deze categorie verwijderen?"} %></td>
      <td><%= link_to 'Edit', edit_category_path(c) %></td>   
    </tr>
    <% end %>
  </table> 
</div>

<div class="table-responsive admin-section">
  <h2>Artikelen en berichten</h2>
  <table class="table table-striped">
    <tr><th>Titel</th><th>Aangenaakt op</th><th>Aangepast op</th><th>verwijderen</th><th>bewerken</th></tr>
   
   
    <% @posts.each do |p| %>
      <tr><td><%= p.title %></td>
		  <td><%= DTformat p.created_at %></td>
		  <td><%= DTformat p.updated_at %></td>
		  <td><%= link_to 'Destroy', p, :method => :delete, data: {confirm: "Wilt u dit bericht verwijderen?"} %></td>
		  <td><%= link_to 'Edit', edit_post_path(p) %></td>	  
		</tr>
    <% end %>
  </table> 
</div>



<div class="table-responsive admin-section">
  <h2>Activiteiten</h2>
  <table class="table table-striped">
    <tr><th>Titel</th>
		<th>Aangenaakt op</th>
		<th>Aangepast op</th>
		<th>Aanpassen</th>
		<th>Verwijderen</th>
	</tr>
    <% @events.each do |e| %>
      <tr><td><%= e.title %></td>
		  <td><%= DTformat e.created_at %></td>
		  <td><%= DTformat e.updated_at %></td>
		  <td><%= link_to 'Destroy', e, :method => :delete, data: {confirm: "Wilt u dit bericht verwijderen?"} %></td>
		  <td><%= link_to 'Edit', edit_event_path(e) %></td></tr>
    <% end %>
  </table>
</div>

<div class="table-responsive admin-section">
  <h2>Leden</h2>
  <table class="table table-striped">
    <tr>
		<th>Email</th>
		<th>Momenteel aangemeld op</th>
		<th>Laatst aangemeld</th>
		<th>Aanpassen</th>
		<th>Verwijderen</th>
		<th>Profiel foto</th>
		<th>rechten</th>
	</tr>
     
	  <% @users.each do |u| %>
    <tr>
		<td><%= u.email %></td>
		<td><%=  u.current_sign_in_at %></td>
		<td><%=  u.last_sign_in_at %></td>
		
		
		<td><%= link_to "Profiel bewerken", edit_user_path(u) %></td>
			<td><%= link_to "Verwijderen", u, :method => :delete, :confirm => "Weet u het zeker?" %></td>
	
		
		<td><%= image_tag u.avatar, :class =>"avatar" %></td>
		<td><%= u.role %></td>
	</tr>
    <% end %>
  </table>
</div>
<% #end %>
