
<%= t('hello')  %>
<%= form_for(@event, html: { role: 'form', class: 'form-horizontal well col-md-5'}) do |e| %>
  <%= e.label :title, "Titel" %><br /> <%= e.text_field :title %><br />
  <%= e.label :message, "Uitleg:" %><br /> <%= e.text_area :message %><br />
 
  <span class="input-group-addon"> <%= e.label :starting_at, "Begin tijd en datum:" %> <span class="glyphicon glyphicon-calendar"><%= e.text_field :starting_at, 'data-behaviour' => 'datepicker' %></span></span>


  <%= e.label :ending_at, "Eind tijd en datum:" %><br /><%= e.datetime_select :ending_at, order: [:day , :month, :year]%><br />
  <p><%= e.label :repeat, "Herhalende activiteit?" %></br>
  <%= e.radio_button(:repeat, "Eenmalig", checked: true ) %><%= e.label(:repeat_none, "Eenmalig") %> <br />
  <%= e.radio_button(:repeat, "Weekelijks") %><%= e.label(:repeat_weekly, "Weekelijks") %><br />
  <%= e.radio_button(:repeat, "Tweeweekelijks") %><%= e.label(:repeat_biweekly, "Tweeweekelijks") %><br />
  <%= e.radio_button(:repeat, "Maandelijks") %><%= e.label(:repeat_monthly, "Maandelijks") %></p>
  <% if current_page?('edit_event_path') %>
  <%= e.submit "Activteit wijzigen" %>
  <% else %>
  <%= e.submit "Activteit toevoegen", class: 'btn btn-primary' %>
  <% end %>
<% end %>