<h1>Koshinkai agenda</h1>
<h3><%= t('calendar') %></h3>
<div id="calendar"></div>
<div>
  <strong>Activiteiten</strong><br/>
<% @events.each do |event| %>
<%= link_to event.title, event %> <%= link_to 'verwijderen', event, method: :delete %><br />
<% end %>
</div>
<br /><br />
<%= link_to 'Een nieuwe activiteit aanmaken', new_event_path %><br />
<%= render 'form' %>