<div class="container">
	<div class="col-md-12">
		<h1><%= @event.title %></h1>
		<strong>Uitleg</strong><br />
		<%= @event.message %><br />
		<%= "Begint op " + @event.starting_at.strftime('%d-%m-%Y om %H:%M.') %><br />
		<%= "Eindigt op " + @event.ending_at.strftime('%d-%m-%Y om %H:%M.')%><br />
		<%= @event.repeat %><br /><br />
	</div>
	<div class="col-md-7 btn-group container">
		<%= link_to 'Activiteit toevoegen', new_event_path, class: "btn btn-success" %>
		<%= link_to 'Activiteiten overzicht', events_path, class: "btn btn-info" %> 
		<%= link_to @event.title + ' wijzigen', edit_event_path, class: "btn btn-warning" %> 
	</div>
</div>