<div class="row home">
	<div class="col-md-4">
		<div class="panel panel-primary">
		<section id="home-news">
			<span class="icon-nieuws"></span>
			<h2>Nieuws</h2>
			<div class="panel-body">
					<article>
						<% if @post %>
						<h3><%= @post.title %></h3>
						<div class="date">Gemaakt op <%= @post.created_at.strftime('%d-%m-%Y') %></div>
						<div class="post-body"><%= raw Shortcode.process(@post.content) %></div>
						<% else %> 
							<p>Er zijn nog geen nieuwsberichten</p>
						<% end %>
					</article>

			</div>
		</section>
		<div class="panel-bar animated">
			<%= link_to("Lees meer nieuws", "./nieuws")%>
		</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
		<section id="home-info">
			<span class="icon-info"></span>
			<h2>Info</h2>
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</section>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
		<section id="home-location">
		<span class="icon-locatie"></span>
			<h2>Locatie</h2>
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			</section>
		</div>
	</div>
</div>
<div class="row home">
	<div class="col-md-4">
		<div class="panel panel-primary">
		<section id="home-activiteiten">
		<span class="icon-activiteiten"></span>
			<h2>Activiteiten</h2>
			<div class="panel-body">
				<% @events.each do |e| %>
				<%= e.title %><br />
				<%= e.starting_at.strftime('%d-%m-%Y om %H:%M.') %>
				<%= e.ending_at.strftime('%d-%m-%Y om %H:%M.') %><br />
				<%= sanitize e.message, tags: ['p', 'em', 'u', 'strong'] %>
				<% end %>
			</div>
			</section>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<section id="home-wijzigingen">
			<span class="icon-wijzigingen"></span>
			<h2>Wijzigingen</h2>
			<div class="panel-body">
			<% @eventchanged.each do |e| %>
			<% unless e.updated_at == e.created_at %>
				<%= e.title %><br />
				<%= e.starting_at.strftime('%d-%m-%Y om %H:%M.') %>
				<%= e.ending_at.strftime('%d-%m-%Y om %H:%M.') %><br />
				<%= sanitize e.message, tags: ['p', 'em', 'u', 'strong'] %>
				<% end %>
				<% end %>
			</div>
			</section>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
		<section id="home-lesrooster">
		<span class="icon-lesrooster"></span>
			<h2>Lesrooster</h2>
			<div class="panel-body">
				<p>
				<% @scheduleevents.each do |e| %>
				<%= e.title %>
				<%= e.starting_at.strftime('%d-%m-%Y om %H:%M.') %>
				<%= e.ending_at.strftime('%d-%m-%Y om %H:%M.') %><br />
				<% end %>
				</p>
			</div>
		</section>
		</div>
	</div>
</div>