<h1> <%= @post.title %> </h1>
<%= sanitize  @post.content, tags: ['p', 'em', 'u', 'strong'] %><br />
Akkoord: <%= @post.approved %><br />
Prive: <%= @post.prive %><br />
Category id<%= @post.category_id %>
