<h1> <%= @post.title %> </h1>
<% @post.content  %>

Akkoord: <%= @post.approved %><br />
Prive: <%= @post.prive %><br />
Category id<%= @post.category_id %>

<h2>Reacties</h2>
<% @post.comments.each do |c| %>
  <p>
    <strong>Commenter:</strong>
    <%= c.title %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= c.message %>
  </p>
<% end %>

<h2>Plaats een reactie:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
