<div class="row">

  <div class="col-md-8 page">
  <h1><%= @category.menuname %></h1>
  <% unless @category.parent_id == nil %>
  <%= link_to 'Nieuw '+@category.menuname+ ' bericht toevoegen', catpost_path %>
  <% end %>
  <% @category.posts.each do |p| %>
    <h2><%= link_to p.title, post_path(p.id) %> </h2>
     <%= raw Shortcode.process(p.content) %>
     Gemaakt op <%= DTformat p.created_at %><br />
  <% end %> 
  </div>
  <div class="col-md-4">
    <div class="panel">
      <span class="icon-nieuws"></span>
    </div>    <div class="panel">
      <span class="icon-nieuws"></span>
    </div>
  </div>
</div>

<% @category.posts.each do |p| %>
  <h2><%= p.title %> </h2>
  <% prepare_v = sanitize p.content, tags: ['p', 'em', 'u', 'strong', 'embed'] %>
  Gemaakt op <%= DTformat p.created_at %><br />
  <% if prepare_v.index("o:http") %>
    <% video_id = prepare_v.match('\[video:https?:\/\/www.youtube.com\/watch\?v=(?<youtube_id>\w+)\]')  %>
    <% video_tag_link = prepare_v.match('\[video:https?:\/\/www.youtube.com\/watch\?v=?[^ ]+\]')  %>
    <% full_link = '</span></p><embed width="420" height="345" src="http://www.youtube.com/v/' + video_id[:youtube_id]  + '" type="application/x-shockwave-flash" allowfullscreen="true"></embed><p><span> ' %>
    <% if video_tag_link.length > 1 %>
      <% for e in video_tag_link %>
        <% video = prepare_v.gsub(e, full_link) %>
      <% end %>
    <% else %>
      <% video = prepare_v.gsub(video_tag_link[0], full_link) %>
    <% end %>
    <%= sanitize video, tags: ['p', 'em', 'u', 'strong', 'embed'] %>
  <% else %>
    <%= sanitize p.content, tags: ['p', 'em', 'u', 'strong', 'embed'] %>
  <% end %>
<% end %> 
