    <% if user_signed_in? %>
    <section id="profile" class="col-md-3 panel panel-primary">
      <%= content_tag(:div, "Welkom, " + current_user.firstname + " " + current_user.lastname, class: "panel-heading") %>
      <ul class="profile_links">
        <li class="panel avatar"><%= image_tag(current_user.avatar_url, :class => "col-md-6") if current_user.avatar? %></li>
      <% if current_user.admin? %>
        <li><%= link_to("Admin", adminpanels_path, :class => "btn btn-mini btn-primary btn-sm") %></li>
      <% end %>
        <li><%= link_to("Bewerk profiel", edit_user_registration_path, :class => "btn btn-mini btn-warning  btn-sm") %></li>
        <li><%= link_to('Uitloggen', destroy_user_session_path, :method => :delete, :class => "profile_logout btn btn-mini btn-danger btn-sm ") %></li>
      </ul>
    </section>
    <% else %>
    <section id="profile" class="col-md-3 panel panel-primary">
      <%= content_tag(:div, "Welkom, gast",class: "panel-heading") %>
      <ul class="profile_links">
        <li><%= link_to("Aanmelden", new_user_session_path, class: "btn btn-mini btn-success btm-sm") %></li>
         <li><%= link_to('Registeer', new_user_registration_path, class: "btn btn-mini btn-warning btm-sm")   %></li>
      </ul>
    </section>
    <% end%>