<!DOCTYPE html>
<html>
<head>
  <title>Koshinkai</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true&.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="header" >
  <header >
  <%= content_tag(:div, alert, class: "alert alert-danger container custom-alert animated pulse") if(flash[:alert]) %>
  <%= content_tag(:div, notice, class: "alert alert-success container custom-alert animated pulse") if(flash[:notice]) %>


 <!--  <% if flash[:notice] || flash[:alert] %>
    <div class="alert alert-success"><%= notice %><%= alert %></div>
  <% end %> -->
    <% if user_signed_in? %>
    <section id="profile" class="col-md-3 panel panel-primary">
      <%= content_tag(:div, "Welkom, " + current_user.email, class: "panel-heading") %>
      <ul class="profile_links">
        <li class="panel avatar"><%= image_tag(current_user.avatar_url, :class => "col-md-6") if current_user.avatar? %></li>
      <% if current_user.admin? %>
        <li><%= link_to("Admin", adminpanels_path, :class => "btn btn-mini btn-primary btn-sm") %></li>
      <% end %>
        <li><%= link_to("Bewerk profiel", edit_user_registration_path, :class => "btn btn-mini btn-warning  btn-sm") %></li>
        <li><%= link_to('Uitloggen', destroy_user_session_path, :method => :delete, :class => "profile_logout btn btn-mini btn-danger btn-sm ") %></li>
      </ul>
    </section>
    <% end %>
  </header>
  <!-- Nieuwe menu -->
  <%= render "layouts/menu" %>
</section>
<article class="container">

<section>

<%= yield %>  

</section>
</article>

<section class="row">
  <div id="maps" ><div class="arrow-down"></div><img /></div>

</section>
<footer><%= render "layouts/footer" %></footer>
</body>
</html>