<!DOCTYPE html>
<html>
<head>
  <title>Koshinkai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills">
  <% @mainmenu.each do |key, value| %>
    <li class="dropdown ">  
    <% if value == '#' %>
      <%= link_to key, value, class: 'dropdown-toggle', 'data-toggle' => 'dropdown' %> 
    <% else %>
      <%= link_to key, value, class: 'dropdown-toggle' %> 
    <% end %>
        <% @menu.each do |menu| %>
          <% if key == menu.menuname %>
          <ul class="dropdown-menu">
            <li><%= link_to menu.submenuname, "/#{menu.menuname}/#{menu.submenuname}" %></li>
          </ul>
          <% end %>
        <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Nieuwe subcategorie maken', new_category_path %>



<%= yield %>
</body>
</html>