<!DOCTYPE html>
<html>
<head>
  <title>Koshinkai</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true&.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="header" >
  <header >
    <p class="notice"><%= notice %></p><p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <section id="profile" class="col-md-3">
      <%= image_tag(current_user.avatar_url, :class => "avatar col-md-6") if current_user.avatar? %>
      <ul class="col-md-6 profile_links">
        <li><%= link_to('logout', destroy_user_session_path, :method => :delete, :class => "profile_logout btn btn-mini btn-danger ") %></li>
      </ul>
    </section>
    <% end %>
  </header>
  <!-- Nieuwe menu -->
  <%= render "layouts/menu" %>
</section>
<article class="container">

<section>

<%= yield %>  

</section>
</article>

<section class="row">
  <div id="maps" ></div>

</section>
<footer><%= render "layouts/footer" %></footer>
</body>
</html>